<!DOCTYPE html>
<html lang="en">
<head>
    <%- include( 'partials/head.ejs' ) %>
    <link rel="stylesheet" href="css/index.css">
    <title>Home - Drip Market</title>
</head>
<body>
    <%- include('partials/header.ejs')  %>
</body>
</html>